*.tmp
*.obj
.svn*
.idea/
obj/
bin/
*.suo
*.user
Log/
log/
*.db
*.pdb
*.zip
*.opensdf
*.sdf
*.suo
*.ncb
*.htm
*.obj
*.idb
*.pdb
*.log
*.tlog
*.cbp
*.depend
*.layout
*.user
*.bak
*.old
*.o
*.exe
*.exp
*.ilk
*.ipch
*.lnk
*.cache
*.bi
*.metagen
*.force
*.db
*.svnbase
*.data
*.aps
*.v
*.cd
*.randomlog
*.pch
TemporaryGeneratedFile_*.cs
.svn/
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.class
*.pyc
*.txt
workspace.xml
ipch/
obj/
lib/
.metadata/
packages/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
